<section class="container hero">
  <hi class="visually-hidden">Movie Trends</hi>
  <div class="hero__movie-wrap">
    <ul class="hero__movie-list">
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
      <li class="hero__movie-item"></li>
    </ul>
  </div>
</section>
