<main>
    <div class="container">
        <div class="mylibrary">
            <h1 class="visually-hidden">My library</h1>
            <ul class="mylibrary__list">
                <li class="mylibrary__item">
                    <a class="mylibrary__item-link" href="#">
                    <img
                        class="mylibrary__item-img"
                        src="./img/library-header/film.jpg"
                        alt="#"
                    />
                    <h2 class="mylibrary__item-title">GRAYHOUND</h2>
                    <div class="mylibrary__item-text-wrapper">
                        <p class="mylibrary__item-genres">vestern</p>
                        <p class="mylibrary__item-text-separator">|</p>
                        <p class="mylibrary__item-release-arye">2020</p>
                        <div class="reting-wrapper">
                            <p class="mylibrary__item-reting">10</p>
                        </div>
                    </div>
                    </a>
                </li>
                <li class="mylibrary__item">
                    <a class="mylibrary__item-link" href="#">
                    <img
                        class="mylibrary__item-img"
                        src="./img/library-header/film.jpg"
                        alt="#"
                    />
                    <h2 class="mylibrary__item-title">GRAYHOUND</h2>
                    <div class="mylibrary__item-text-wrapper">
                        <p class="mylibrary__item-genres">vestern</p>
                        <p class="mylibrary__item-text-separator">|</p>
                        <p class="mylibrary__item-release-arye">2020</p>
                        <div class="reting-wrapper">
                            <p class="mylibrary__item-reting">10</p>
                        </div>
                    </div>
                    </a>
                </li>
                <li class="mylibrary__item">
                    <a class="mylibrary__item-link" href="#">
                    <img
                        class="mylibrary__item-img"
                        src="./img/library-header/film.jpg"
                        alt="#"
                    />
                    <h2 class="mylibrary__item-title">GRAYHOUND</h2>
                    <div class="mylibrary__item-text-wrapper">
                        <p class="mylibrary__item-genres">vestern</p>
                        <p class="mylibrary__item-text-separator">|</p>
                        <p class="mylibrary__item-release-arye">2020</p>
                        <div class="reting-wrapper">
                            <p class="mylibrary__item-reting">10.0</p>
                        </div>
                    </div>
                    </a>
                </li>
                <li class="mylibrary__item">
                    <a class="mylibrary__item-link" href="#">
                    <img
                        class="mylibrary__item-img"
                        src="./img/library-header/film.jpg"
                        alt="#"
                    />
                    <h2 class="mylibrary__item-title">GRAYHOUND</h2>
                    <div class="mylibrary__item-text-wrapper">
                        <p class="mylibrary__item-genres">vestern</p>
                        <p class="mylibrary__item-text-separator">|</p>
                        <p class="mylibrary__item-release-arye">2020</p>
                        <div class="reting-wrapper">
                            <p class="mylibrary__item-reting">10</p>
                        </div>
                    </div>
                    </a>
                </li>
        </ul>
        </div>
        
    </div>
</main>
