<div class="backdrop visually-hidden" id="data-modal">
  <div class="footer__modal">
    <!-- <button type="button" class="footer__modal-btn" id="data-modal-close">
      <svg class="footer__modal-icon" width="17" height="17">
        <use href="./img/icon.svg#icon-close-black-18dp-2-1-1"></use>
      </svg>
    </button>  -->
    <div class="footer__modal-wrap">
      <div class="footer__modal-block">
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Михайло Чернецький</p>
            <p class="footer__modal-role">Team lead</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Уляна Колеснікова</p>
            <p class="footer__modal-role">Scrum master</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Сергій Павлюченко</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Вікторія Олійник</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Олена Абловацька</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
      </div>
      <div class="footer__modal-block">
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Юлія Пархоменко</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Катерина Дзюбчук</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Вікторія Бондар</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Андрій Уткін</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Ярослава Воробець</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
