<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-rights">
      <div class="footer-rights__reserved">
        <span class="footer-rights__copy">&copy</span>
        <p class="footer-rights__text">
          2022<span class="footer-rights__divider">|</span>
        </p>
        <p class="footer-rights__text">
          All Rights Reserved<span class="footer-rights__divider">|</span>
        </p>
      </div>
      <div class="footer-rights__students">
        <p class="footer-rights__text">Developed with</p>
        <svg class="heart-icon" width="14" height="13">
          <use href="./img/icon.svg#icon-heart"></use>
        </svg>
        <p class="footer-rights__text">
          by
          <span class="footer-rights__link" data-new-modal-open>
            GoIT Students
          </span>
        </p>
      </div>
    </div>
  </div>
</footer>
