<!-- <div class="footer-backdrop visually-hidden" data-modal-1>
  <div class="footer__modal">
    <button type="button" class="footer__modal-btn" data-modal-close-1>
      <svg class="footer__modal-icon" width="17" height="17">
        <use href="./img/icon.svg#icon-cross-svgrepo-com"></use>
      </svg>
    </button>
    <p class="footer__modal-text">Our Team</p>
    <div class="footer__modal-wrap">
      <div class="footer__modal-block">
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Михайло Чернецький</p>
            <p class="footer__modal-role">Team lead</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Уляна Колеснікова</p>
            <p class="footer__modal-role">Scrum master</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Сергій Павлюченко</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Швець Вікторія</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
      </div>
      <div class="footer__modal-block">
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Юлія Пархоменко</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Катерина Дзюбчук</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Андрій Уткін</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
        <div class="footer__modal-teem">
          <div class="footer__modal-author">
            <svg class="footer__modal-circle" width="65" height="65">
              <use href="./img/icon.svg#icon-circle-svgrepo-com-1-1"></use>
            </svg>
          </div>
          <div>
            <p class="footer__modal-name">Ярослава Воробець</p>
            <p class="footer__modal-role">developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
