<div class="backdrop" data-modal>
  <div class="modal">
    <button class="modal__close-button" data-modal-close>
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__content">
      <div class="img-thumb">
        <img src="" alt="" class="main-modal-img" />
      </div>
      <h2 class="modal__title">A FISTFUL OF LEAD</h2>
      <ul class="modal__list">
        <li class="list__item">
          Vote / Votes <span class="item__info"> 7.3 / 1200</span>
        </li>
        <li class="list__item">
          Popularity <span class="item__info">200.4</span>
        </li>
        <li class="list__item">
          Original Title <span class="item__info">A FISTFUL OF LEAD</span>
        </li>
        <li class="list__item">
          Genre <span class="item__info">Western</span>
        </li>
      </ul>
      <section class="modal__about">
        <h3 class="about__title">About</h3>
        <p class="about__text">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
      </section>
      <button type="button" class="modal__btn modal__btn--orange">
        add to watched
      </button>
      <button type="button" class="modal__btn modal__btn--light">
        add to queue
      </button>
    </div>
  </div>
</div>
