<div class="backdrop" data-modal>
  <div class="modal">
    <button class="modal__close-button" data-modal-close>
      <svg class="modal__close-icon" width="30" height="30">
        <use href="./image/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__content">
      <div class="img-thumb">
        <img
          src="/src/image/test-modal-image.jpg"
          alt="film poster"
          class="main-modal-img"
        />
      </div>
      <div class="modal__info-container">
        <h2 class="modal__title">A FISTFUL OF LEAD</h2>
        <table class="modal__stats">
          <tr class="stats__row">
            <td class="stats__name">Vote</td>
            <td class="stats__value">
              <span class="accent-num">7.3</span> /
              <span class="grey-num">1200</span>
            </td>
          </tr>
          <tr class="stats__row">
            <td class="stats__name">Popularity</td>
            <td class="stats__value">1200</td>
          </tr>
          <tr class="stats__row">
            <td class="stats__name">Original Title</td>
            <td class="stats__value">A FISTFUL OF LEAD</td>
          </tr>
          <tr class="stats__row">
            <td class="stats__name">Genre</td>
            <td class="stats__value">Western</td>
          </tr>
        </table>

        <section class="modal__about">
          <h3 class="about__title">About</h3>
          <p class="about__text">
            Four of the West’s most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... they’ve been double crossed – but by who and how?
          </p>
        </section>
        <div class="modal__buttons">
          <button type="button" class="modal__btn modal__btn--orange">
            add to watched
          </button>
          <button type="button" class="modal__btn modal__btn--light">
            add to queue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
