<header class="mylibrary-header">
  <div class="container">
    <nav class="filmoteka__navigation">
      <a class="mylibrary-header__logo-link" href="./index.html">
        <img
          class="mylibrary-header__logo-img"
          src="./img/library-header/film.svg"
        />
      </a>
      <a class="mylibrary-header__text-link" href="./index.html">
        <p class="mylibrary-header__logo-text">Filmoteka</p>
      </a>
      <ul class="filmoteka__navigation-list">
        <li class="filmoteka__navigation-item">
          <a class="home-link" href="./index.html">HOME</a>
        </li>
        <li class="filmoteka__navigation-item">
          <a class="my-library-link active" href="./myLibrary.html"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
    <div class="mylibrary-header__navigation">
      <button class="watched-btn" type="button">WATCHED</button>
      <button class="queue-btn" type="button">QUEUE</button>
    </div>
  </div>
</header>
