<div class="new-footer__modal-backdrop visually-hidden" data-new-modal>
  <div class="new-footer__modal">
    <button type="button" class="new-footer__modal-btn" data-new-modal-close>
      <svg class="footer__modal-icon" width="17" height="17">
        <use href="./img/icon.svg#icon-cross-svgrepo-com"></use>
      </svg>
    </button>
    <img
      class="new-footer__title"
      src="https://i.ibb.co/3pKFt2H/logo-team.png"
      alt="logo-team"
      border="0"
    />

    <ul class="footer__team-list"></ul>
    <div class="footer__member-card"></div>
  </div>
</div>
