<div class="pagination-container">
  <button id="number_page" data-index="5" class="pagination-button"></button>
  <button class="button1 pagination-button arrow-left"></button>
  <button id="number_page" data-index="1" class="pagination-button"></button>
  <button id="number_page" data-index="2" class="pagination-button"></button>
  <p id="currentPage" class="pagination--current">1</p>
  <button id="number_page" data-index="3" class="pagination-button"></button>
  <button id="number_page" data-index="4" class="pagination-button"></button>
  <button class="button2 pagination-button arrow-right"></button>
  <button id="number_page" data-index="6" class="pagination-button"></button>
</div>
