.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  overflow-y: scroll;
  opacity: 1;
  pointer-events: all;
  visibility: visible;

  @include default-transition(opacity);
  @include default-transition(visibility);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: relative;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 12px;
  background-color: var(--modal-color);

  width: 806px;
  height: 558px;
  &__close-icon {
    margin: 0 auto;
  }
  &__title {
    font-size: 30px;
    line-height: 1.16;
    color: var(--dots-color);
    margin-bottom: 20px;
  }
  &__close-icon {
    stroke: var(--dots-color);
  }

  &__close-button {
    @extend %flex-center;
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: inherit;
    width: 30px;
    height: 30px;
  }
}

.img-thumb {
  width: 375px;
  height: 478px;
}

.list__item {
  margin-bottom: 8px;
  color: var(--table-color);
}

.modal__btn {
  width: 136px;
  height: 44px;
  padding: 14px 10px 12px;
  text-transform: uppercase;
  text-align: center;
  &--orange {
    background-color: #ff6b01;
    color: var(--white);
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 15px;
  }

  &--light {
    background-color: var(--white);
    color: var(--dots-color);
    border: 1px solid var(--dots-color);
    border-radius: 5px;
  }
}

.modal__content {
  display: flex;
  gap: 16px;
  border-radius: 5px;
  overflow: hidden;
}

.main-modal-img {
  object-fit: contain;
}

.list-info {
  color: var(--dots-color);
  margin-bottom: 20px;
}

.accent-num {
  display: inline-block;
  background-color: #ff6b01;
  border-radius: 5px;
  color: var(--white);
  padding: 1px 9px;
}

.grey-num {
  display: inline-block;
  background-color: var(--secondary-background-color);
  border-radius: 5px;
  color: var(--dots-color);
  padding: 1px 4px;
}

.modal__about {
  margin-bottom: 20px;
}

.about__title {
  text-transform: uppercase;
  margin-bottom: 8px;
}

.about__text {
  line-height: 1.67;
}
