.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  overflow-y: scroll;
  opacity: 1;
  pointer-events: all;
  visibility: visible;

  @include default-transition(opacity);
  @include default-transition(visibility);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: relative;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 12px;
  background-color: var(--modal-color);

  width: 806px;
  height: 558px;
  &__close-icon {
    margin: 0 auto;
  }
}

.modal__close-icon {
  stroke: var(--dots-color);
}

.modal__close-button {
  @extend %flex-center;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: inherit;
  width: 30px;
  height: 30px;
}

.modal__btn {
  width: 136px;
  height: 44px;
  padding: 14px 10px 12px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
}

.modal__btn--orange {
  background-color: #ff6b01;
  color: var(--white);
  border: 1px solid transparent;
  border-radius: 5px;
}

.modal__btn--light {
  background-color: var(--white);
  color: var(--dots-color);
  border: 1px solid var(--dots-color);
  border-radius: 5px;
}
