.footer {
    padding-top: 30px;
    padding-bottom: 25px;
    background-color: var(--secondary-background-color);
}

.footer-rights {
    flex-direction: column;

    @media screen and (min-width: 768px) {
        & {
            flex-direction: row;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}

.footer-rights__reserved {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        & {
            display: flex;
            align-items: center;
            text-align: center;
            margin-bottom: 0;
        }
    }

}

.footer-rights__text,
.footer-rights__divider {
    color: --secondary;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

@media screen and (min-width: 768px) {

    .footer-rights__text,
    .footer-rights__divider {
        font-size: 16px;
    }
}

.footer-rights__divider {
    margin-right: 3px;
    margin-left: 3px;
}

.footer-rights__copy {
    margin-right: 7px;
}

.heart-icon {
    margin-right: 10px;
    margin-left: 10px;
    fill: var(--accent);
}

.footer-rights__students {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 480px) {
        & {
            display: flex;
            align-items: center;
        }
    }

}

.footer-rights__link {
    color: var(--secondary);
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 1;
    background-color: var(--backdrop-color);
    transition: opacity, visibility;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// .backdrop.visually-hidden .footer__modal {
//     transform: translate(-50%, -50%) scale(0.7);
// }

.footer__modal {
    padding: 40px;
    position: fixed;
    z-index: 1;
    width: 90%;
    background-color: var(--backdrop-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 480px) {
        width: 80%;
    }
   
}


// .no-scroll {
//     overflow: hidden;
// }

.footer__modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgba(246, 107, 8, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--accent);
    ;
    transition: fill;
    transition-duration: 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-light);
    }
}

.footer__modal-wrap {
    flex-direction: column;   
   
    @media screen and (min-width: 768px){
        &{
            display: flex;
            justify-content: space-around;
        }  
}
}

.footer__modal-teem {
    display: flex; 
    align-items: center;
}

.footer__modal-author {
    margin-right: 20px;
    @media screen and (min-width: 480px) {
                margin-right: 40px;
            }
    @media screen and (min-width: 768px) {
                margin-right: 50px;
            } 
   
}

.footer__modal-circle {
    color: var(--theme-icony);
}

footer__modal-name {
    color: var(--secondary);
@media screen and (min-width: 480px) {
    font-size: 18px;
}
}

.footer__modal-role {
    color: var(--main-text);
}
