.header {
    height: 230px;
    background-color: rgba(0, 0, 0, 0.56);
    background-size: 100%;
    background-repeat: repeat;

    background-image: url(/src/img/header/background-img-mob.jpg);
    @include mq ('retina') {
        background-image: url(/src/img/header/background-img-mob@2x.jpg);
    }

    @include mq ('tablet') {
        height: 219px;
        background-image: url(/src/img/header/background-img-tabl.jpg);

        @include mq ('retina') {
            background-image: url(/src/img/header/background-img-tabl@2x.jpg);
        }
    }

    @include mq ('desktop') {
        height: 216px;
        background-image: url(/src/img/header/background-img-desk.jpg);

        @include mq ('retina') {
            background-image: url(/src/img/header/background-img-desk@2x.jpg);
        }
    }
}
.nav {
    display: flex;
    align-items: center;
    padding-top: 40px;
}
.logo__icon {
    width: 24px;
    height: 24px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        transform: rotate(360deg);
    }
}

.logo__link {
    display: none;
    @include mq ('tablet') {
        display: block;
        margin-left: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.17;
        color: #ffffff;
        transition-property: transform;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus {
            transform: skewX(-15deg);
        }
    }
}

.nav__list {
    display: flex;
    margin-left: auto;
}

.nav__item {
    position: relative;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
    &:hover,
    &:focus {
        transform: skewX(-15deg);
    }
}

.nav__item:not(:last-child) {
    margin-right: 39px;
}

.nav__link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;

}

.active::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FF001B;
}

.form-thumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 62px;
}

.search-form {
    display: inline-block;
    position: relative;
    margin-bottom: 16px;
    @include mq ('tablet') {
        margin-bottom: 20px;
    }
}

.search-input {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid #FFFFFF;
    transition-property: border-bottom;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        border-bottom: 0.5px solid #FF001B;
    }
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    width: 280px;

    @include mq ('tablet') {
        width: 336px;
    }

    @include mq ('desktop') {
        width: 394px;
    }

    &::placeholder {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
    }

    &:focus {
        outline: none;
    }
}

.search-btn {
    position: absolute;
    display: inline-block;
    bottom: 4px;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 0;

}

.search-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    fill: #ffffff;
}

.notify {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FF001B;
}