.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

  @include mq(mobile) {
    padding: 40px 0;
  }

  @include mq(tablet) {
    padding: 50px 0 60px 0;
  }
}

.pagination-button {
  padding: 0;
  font-weight: 500;
border-radius: 2px;

  text-transform: uppercase;
  width: 40px;
  height: 40px;
  font-size: 12px;
  line-height: 1.33;


  color: #000000;
  border: none;
  background-color: transparent;
  outline: none;
  justify-content: center;

}

.pagination--current {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--accent);
text-align: center;
  color: white;
  font-size: 12px;
    line-height: 1.33;

}

p#currentPage{
    display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
    }




.arrow-left,
.arrow-right {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--arrow-pagination-color);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  stroke: #000;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-left {
  background-image: url(../img/pagination/arrow-right.svg);
    background-repeat: no-repeat;
      background-position: 50%;
      margin-right: 16px;
      border-radius: 5px;
        background-color: #f7f7f7;
        border: none;
}

.arrow-right {
  background-image: url(../img/pagination/arrow-left.svg);
  background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 16px;
    border-radius: 5px;
    background-color: #f7f7f7;
    border: none;
}
